// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primaryColor: #2467ff;
$secondaryColor: #709bff;
$sh-green: #5BC236;
$sh-white: #FFFFFC;
$black: #0C0F0A;
$lightblue: #D6E2FF;

