<div class="my-5">
<h1 class="mb-4"><%= pluralize(@recent_disasters.size, 'disaster')  %> predicted within the past 4 hours </h1>


  <div style="width: 100%; height: 600px;"

  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <p class="my-5">
  SafeHaven technology, developed by the Indian Ocean Institute, is a remarkable AI system that provides highly sophisticated, region-specific predictions for natural disasters across the globe. It offers timely alerts to both authorities and communities with a lead time of up to four hours. This groundbreaking innovation is a game-changer, providing individuals, governments, and organizations with invaluable time to prepare and take necessary action, ultimately reducing the risk of loss of life and mitigating the impact of disasters.
  </p>
  <p>In a world that constantly evolves, SafeHaven stands as a reliable ally in the realm of disaster prevention and response, leading the charge toward a safer future through its early warning capabilities and proactive readiness.</p>
</div>
