.goc-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 32px;
  margin: 15% 0;

  .headline {
    margin-left: 8px;
  }
  .messages {
    height: 550px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .message {
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      background-color: $white;
      padding: 12px 15px;
      border-radius: 11px;
      margin-inline: 8px;
    }
  }
  .countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    padding: 12px;
    gap: 32px;
    background-color: $secondaryColor;
    text-align: center;
    color: $white;
  }
  .geosafe {
    background-color: $secondaryColor;
    color: $white;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding-block: 32px;

    .values {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 12px;
      width: 100%;
      padding-inline: 24px;

      .value {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid $secondaryColor;
        height: 80px;
        width: auto;
        padding-inline: 24px;
      }
    }
  }
}

.events-prevention {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 32px;
  height: 350px;

  .events {
    color: $white;
    background-color: $secondaryColor;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 11px;
    width: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    &.past-events {
      #past-events {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 12px;
        .past-disaster {
          background-color: white;
          padding: 12px 24px;
          border-radius: 12px;
        }
      }
    }
    &.prevention {
      .btn {
        margin-inline: 50px;
      }
    }
  }
}

.back-btn-container {
  border: 2px solid $primaryColor;
  margin: 1.5rem 0;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 29px;

  i {
    color: $primaryColor;
  }
  .back-btn {
    margin-left: 5px;
    color: $primaryColor;
    text-decoration: none;
    font-weight: 700;
  }
}

.geoloc-head {
  margin: 3% 0;
}
