<section class="gradient-custom">
  <div class="my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card rounded-10">
          <div class="card-body px-4 py-5 rounded">
            <!-- Carousel wrapper -->
            <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img src="https://randomuser.me/api/portraits/women/52.jpg"
                            class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                            height="150" />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start text-black mx-auto mx-lg-0">
                          <h4 class="mb-4">Karen, Concerned Parent</h4>
                          <p class="mb-0 pb-3">
                            Being a parent, my family's safety is my top priority. This website has been an invaluable resource. Last year, when a severe storm was approaching our area, the real-time alerts provided by the predictive AI gave us crucial time to prepare. We ensured our kids were safe and had all the necessary supplies. I'm grateful for the peace of mind it offers, and I highly recommend it to all parents and families.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single item -->
                <div class="carousel-item">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                            class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                            height="150" />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start text-black mx-auto mx-lg-0">
                          <h4 class="mb-4">Maria, Small Business Owner</h4>
                          <p class="mb-0 pb-3">
                            As a small business owner, any disruption can be a big challenge. This website has been a game-changer for me. It helped me understand the risks my business faces and develop a robust disaster recovery plan. When a flash flood hit our area, I was able to act swiftly, minimizing losses. The predictive algorithm is a lifeline for my business, and I'm thankful for the valuable insights and early warnings it provides.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single item -->
                <div class="carousel-item">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img src="https://randomuser.me/api/portraits/men/21.jpg"
                            class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                            height="150" />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start text-black mx-auto mx-lg-0">
                          <h4 class="mb-4">John, Disaster Preparedness Enthusiast</h4>
                          <p class="mb-0 pb-3">
                            As someone passionate about disaster preparedness, this website is a goldmine of information. The resources section is particularly impressive. I've found comprehensive guides, government agency links, and the latest research that have enriched my knowledge. The real-time alerts also give me the advantage of staying ahead of potential disasters. It's an indispensable tool for anyone serious about disaster management.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Carousel wrapper -->
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>