<%
=begin%>
 <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> 
<%
=end%>
<%# <div data-controller="tsparticles" id="particles-js"></div> %>
<div class="main">
    <section class="hero">
    <div class="hero-left-content">
        <div class="content-left">
            <h1>Predicting Disasters, Saving Lives</h1>
            <p>Stay one step ahead of nature's fury with our real-time alerts, providing crucial information to keep you and your loved ones safe.</p>
            <div class="d-grid gap-2 d-md-block">
                <%= link_to "GET ALERTS", new_user_registration_path, class: "btn main-cta-w" %>
                <a href="#about" class="btn secondary-cta ms-3">MORE INFO</a>
            </div>
        </div>
        <%= image_tag "sh-final-blue.svg", class: 'floating-logo' %>
    </div>
    </section>
</div>

