<%# <div data-controller="tsparticles" id="particles-js"></div> %>
<div class="resources">
  <section class="hero-res">
      <div class="hero-res-content">
          <div class="content-left">
              <h1>Comprehensive Disaster Resources</h1>
              <p>Learn about emergency response procedures, evacuation plans, and disaster preparedness.  Explore prevention actions and guidelines.</p>
              <div class="d-grid gap-2 d-md-block">
                  <%= link_to "GET ALERTS", new_user_registration_path, class: "btn main-cta-color" %>
                  <a href="https://www.stopdisastersgame.org/stop_disasters/" class="btn secondary-cta ms-3">DISASTER GAME</a>
              </div>
          </div>
      </div>
  </section>

  <section class="game">
      <div class="game-content">
        <h2>United Nation's Stop Disaster Game</h2>
        <h3>Preparedness and gamification</h3>
        <p>Introducing the "Stop Disaster Game" by the UN Office for Disaster Risk Reduction - an engaging and educational application designed to teach essential prevention and mitigation procedures for various natural disasters. This innovative game offers a dynamic and interactive way to learn how to respond effectively to crises, from earthquakes to floods and beyond. With realistic scenarios and practical challenges, players can hone their disaster preparedness skills while having fun. Join us in building a safer, more resilient world through the power of education and gaming.</p>
        <a href="https://www.stopdisastersgame.org/stop_disasters/" class="btn main-cta-color">PLAY AND LEARN</a>
    </div>
    <div class="game-icon">
      <i class="fa-solid fa-gamepad"></i>
    </div>
  </section>

  <section class="emer-com">
    <h2>resilient emergency communication</h2>
    <div class="emer-com-card-container">
      <div class="emer-com-card">
      <i class="fa-solid fa-walkie-talkie"></i>
        <h3>ham radio & arrl</h3>
        <p>Ham radio and the American Radio Relay League (ARRL) are like superheroes during disasters because they help people talk to each other when regular phones and internet don't work, and they train local groups to be ready for emergencies.</p>
        <ul class="emer-com-links">
          <li><a href="https://learn.arrl.org/"><i class="fa-solid fa-arrow-right"></i>What's ARRL</a></li>
          <li><a href="https://hamradioprep.com/free-lesson/ "><i class="fa-solid fa-arrow-right"></i>Learn Ham Radio</a></li>
        </ul>
      </div>

      <div class="emer-com-card">
        <%= image_tag "morse.svg", class: 'morse-icon' %>
        <h3>Morse Code</h3>
        <p>Learning Morse code is like having a secret language that can help you send messages with flashing lights or sounds when regular phones and internet don't work during disasters, so you can call for help and stay safe.</p>
        <ul class="emer-com-links">
          <li><a href="https://www.britannica.com/topic/Morse-Code"><i class="fa-solid fa-arrow-right"></i>Britannica morse</a></li>
          <li><a href="https://morsecode.world/international/translator.html"><i class="fa-solid fa-arrow-right"></i>Intl. morse code</a></li>
          <li><a href="https://morse.withgoogle.com/learn/"><i class="fa-solid fa-arrow-right"></i>Learn Morse Code</a></li>
        </ul>
      </div>

    </div>
  </section>

  <section class="dis-phases">
    <h2>natural disaster Phases</h2>
    <h3>Understanding Natural Disaster Phases for Safety and Resilience</h3>

    <div class="dis-phases-card-container">
      <div class="dis-phases-card">
        <div class="icon"><i class="fa-solid fa-shield"></i></div>
        <h4>Prevention</h4>
        <p>Getting ready before a disaster means knowing what might happen, so you can make emergency kits, plans, and fix things to stay safe.</p>
      </div>

      <div class="dis-phases-card">
        <div class="icon"><i class="fa-solid fa-sitemap"></i></div>
        <h4>Response</h4>
        <p>When a disaster happens, you need to know how to call for help, use phones or radios, and follow safety rules to protect yourself.</p>
      </div>

      <div class="dis-phases-card">
        <div class="icon"><i class="fa-solid fa-bullhorn"></i></div>
        <h4>Mitigation</h4>
        <p>This involves taking actions to prevent future problems, such as constructing sturdy buildings or reducing pollution.</p>
      </div>

      <div class="dis-phases-card">
        <div class="icon"><i class="fa-solid fa-hammer"></i></div>
        <h4>Adaptation</h4>
        <p>At times, changes occur due to disasters or weather conditions, and we must learn how to adapt and ensure our safety.</p>
      </div>

      <div class="dis-phases-card">
        <div class="icon"><i class="fa-solid fa-people-group"></i>
      </div>
        <h4>Resilience</h4>
        <p>Being strong and ready for anything is what resilience is all about, so we can bounce back from disasters and keep everyone safe.</p>
      </div>
    </div>
  </section>

  <section class="edu-prev">
    <h2>kids education for prevention</h2>
    <h3>Empowering Tomorrow's Safety: Educating Kids on Natural Disaster Risk Management</h3>
    <a href="https://www.unisdr.org/files/2114_VL108012.pdf" class="btn secondary-cta">DISASTER GAME</a>
  </section>
</div>
