#countdown {
  display: flex;
  flex-direction: row;
  gap: 15px;

  .time {
    font-size: 24px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    border: 1px solid $white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .type {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
