#countdown {
  display: flex;
  flex-direction: row;
  gap: 15px;
  .time {
    font-size: 24px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(135, 135, 135);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
