.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
