.navbar-cc {
  justify-content: space-between;
  background: white;
}

.navbar-cc .navbar-collapse {
  flex-grow: 0;
}

.navbar-cc .navbar-brand img {
  height: 40px;
  width: auto;
}

#navbar {
  .nav-link {
    font-family: 'Roboto', sans-serif;
    color: $black;
    font-weight: 400;
  }
}
