.carousel-indicators {
    border-radius: 80%;
    width: 10px;
    height: 10px;
}

.gradient-custom {
    .card {
        border-radius: 10px !important;
        border: 0 !important;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
}